extends ../layouts/layout

block main
  main
    .landing.flex-center
      img(src="assets/images/hero/hero-bg.svg" class="background")
      .container
        .row
          section.data.col-lg-6.col-md-12
            h1.p-0 Launch Your SaaS Website in Minutes!
            p.py-10.pb-25 Everything you need to create a stunning website that attracts and retains customers with ease. From customizable templates to seamless integrations.
            button(href="#").p-20 Get Started
          section.dashboard.col-lg-6.col-md-12
            img(src="assets/images/hero/hero-img.png", alt="").m-20
      button(class="down")
        a(href="#features")
          i(class="fa-solid fa-arrow-down-long")
    .features.py-25
      .container
        .row 
          section.col-lg-4.col-md-6.col-sm-12
            .icon
              i.fa-brands.fa-bootstrap
            h3.py-25 Bootstrap 5
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          section.col-lg-4.col-md-6.col-sm-12
            .icon
              i.fa-solid.fa-table-cells
            h3.py-25 Clean Design
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          section.col-lg-4.col-md-6.col-sm-12
            .icon
              i.fa-solid.fa-mug-hot
            h3.py-25 Easy To Use
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
    section#about.about-section.pt-150
      .container
        .row.align-items-center
          .col-xl-6.col-lg-6
            .about-img
              img.w-100(src="assets/images/about/about-1.png" alt="")
              img.shape.shape-1(src="assets/images/about/about-left-shape.svg" alt="")
              img.shape.shape-2(src="assets/images/about/left-dots.svg" alt="")
          .col-xl-6.col-lg-6
            .about-content
              .section-title.mb-30
                h2.mb-25.wow.fadeInUp(data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;")
                  | Perfect Solution Thriving Online Business
                p.wow.fadeInUp(data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;")
                  | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem. Lorem ipsum dolor sit amet.
                button(href="#").p-20 Discover More
    section#about.about-section.pt-150
      .container
        .row.align-items-center
          .col-xl-6.col-lg-6
            .about-content
              .section-title.mb-30
                h2.mb-25.wow.fadeInUp(data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;")
                  | Easy to Use with Tons of Awesome Features
                p.wow.fadeInUp(data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;")
                  | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
              ul
                li Quick Access
                li Easily to Manage
                li 24/7 Support
              button(href="#").p-20 Learn More
          .col-xl-6.col-lg-6.order-first.order-lg-last
            .about-img-2
              img.w-100(src="assets/images/about/about-2.png" alt="")
              img.shape.shape-1(src="assets/images/about/about-right-shape.svg" alt="")
              img.shape.shape-2(src="assets/images/about/right-dots.svg" alt="")
    .why
      .head 
        h3 Why Choose SaaSpal
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      .container.py-30
        .row
          section.col-lg-4.col-md-6.col-sm-12
            .icon
              i.fa-solid.fa-display
            h3.py-25 SaaS Focused
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          section.col-lg-4.col-md-6.col-sm-12
            .icon
              i.fa-solid.fa-leaf
            h3.py-25 Awesome Design
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          section.col-lg-4.col-md-6.col-sm-12
            .icon
              i.fa-solid.fa-table-cells-large
            h3.py-25 Ready to Use
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          section.col-lg-4.col-md-6.col-sm-12
            .icon
              i.fa-brands.fa-square-js
            h3.py-25 Vanilla JS
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          section.col-lg-4.col-md-6.col-sm-12
            .icon
              i.fa-solid.fa-file-circle-question
            h3.py-25 Essential Sections
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          section.col-lg-4.col-md-6.col-sm-12
            .icon
              i.fa-solid.fa-helicopter
            h3.py-25 Highly Optimized
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
    .pricing
      .head
        h3 Choose a Plan
        p Lorem ipsum dolor sit amet consetetur sadipscing elitr sswed diam nonumy eirmod tempor nvidunt.
      button(href="#").monthly.active Monthly
      button(href="#").yearly Yearly
      .container.monthly.active
        .row
          section.col-lg-4.col-md-6.col-sm-12
            .data
              h3 $36
              p Basic Account
            .price
              ul
                li 
                  i.fa-solid.fa-check 
                  |  Unlimited Access
                li 
                  i.fa-solid.fa-check 
                  | Single User
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Storage
                li 
                  i.fa-solid.fa-xmark 
                  | 24/7 Support
                li 
                  i.fa-solid.fa-xmark 
                  | Free Future Updates
              button(href="#").book Get Start
          section.col-lg-4.col-md-6.col-sm-12
            .data
              h3 $56
              p Standard Account
            .price
              ul
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Acces
                li 
                  i.fa-solid.fa-check 
                  | 20+ Users
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Storage
                li 
                  i.fa-solid.fa-check 
                  | 24/7 Support
                li 
                  i.fa-solid.fa-check 
                  | Free Future Updates
              button(href="#").book.middle Get Start
          section.col-lg-4.col-md-6.col-sm-12
            .data
              h3 $89
              p Premium Account
            .price
              ul
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Acces
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Users
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Storage
                li 
                  i.fa-solid.fa-check 
                  | 24/7 Support
                li 
                  i.fa-solid.fa-check 
                  | Free Future Updates
              button(href="#").book Get Start
      .container.yearly
        .row
          section.col-lg-4.col-md-6.col-sm-12
            .data
              h3 $136
              p Basic Account
            .price
              ul
                li 
                  i.fa-solid.fa-check 
                  |  Unlimited Access
                li 
                  i.fa-solid.fa-check 
                  | Single User
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Storage
                li 
                  i.fa-solid.fa-xmark 
                  | 24/7 Support
                li 
                  i.fa-solid.fa-xmark 
                  | Free Future Updates
              button(href="#").book Get Start
          section.col-lg-4.col-md-6.col-sm-12
            .data
              h3 $156
              p Standard Account
            .price
              ul
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Acces
                li 
                  i.fa-solid.fa-check 
                  | 20+ Users
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Storage
                li 
                  i.fa-solid.fa-check 
                  | 24/7 Support
                li 
                  i.fa-solid.fa-xmark 
                  | Free Future Updates
              button(href="#").book.middle Get Start
          section.col-lg-4.col-md-6.col-sm-12
            .data
              h3 $189
              p Premium Account
            .price
              ul
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Acces
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Users
                li 
                  i.fa-solid.fa-check 
                  | Unlimited Storage
                li 
                  i.fa-solid.fa-check 
                  | 24/7 Support
                li 
                  i.fa-solid.fa-check 
                  | Free Future Updates
              button(href="#").book Get Start
.clients
  .container
    .row
      figure.col-xl-6.col-lg-6.col-md-12.col-sm-12
        img(src="assets/images/testimonial/testimonial-shape.svg", alt="").shape
        img(src="assets/images/testimonial/testimonial-dots.svg", alt="").dots
        .users
          each user in [
            { src: "assets/images/testimonial/testimonial-1.png", name: "Gray Simon", title: "UIX Designer and Developer" },
            { src: "assets/images/testimonial/testimonial-2.png", name: "Jonathon Smith", title: "Developer and Youtuber" },
            { src: "assets/images/testimonial/testimonial-3.png", name: "Michel Smith", title: "Traveler and Vlogger" }
          ]
            img(src=user.src, alt=`${user.name}`).data.data${loop.index + 1} if loop.index === 0 else `.data.data${loop.index + 1}`
        .quote
          i.fa-solid.fa-quote-right
      section.datas.col-xl-6.col-lg-6.col-md-12.col-sm-12
        h4 What our customers say
        p.py-20 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.
        each user in [
          { name: "Gray Simon", title: "UIX Designer and Developer" },
          { name: "Jonathon Smith", title: "Developer and Youtuber" },
          { name: "Michel Smith", title: "Traveler and Vlogger" }
        ]
          .data.data${loop.index + 1}
            h5= user.name
            p= user.title
        .buttons
          i.fa-solid.fa-chevron-left
          i.fa-solid.fa-chevron-right
    .subscribe
      .container
        .row
          .col-lg-6.col-md-12.col-sm-12.title
            h3 Subscribe Our Newsletter
            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          .col-lg-6.col-md-12.col-sm-12.form
            form
              input#emailInput(type="email", placeholder="Enter Your Email", data-custom="value")
              button(type="submit") Subscribe